	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

.title {
	font-size: 2.5rem;
	font-weight: 900;
  	text-shadow: -4px -2px 2px rgb(255, 203, 66);
}

@media (min-width: 768px) {
	.title {
		font-size: 3rem;
	}
}

@keyframes stamp-rotate {
  from {
    opacity: 0.2;
    scale: 0.8;
		transform: rotate(0);
  }
	to {
		scale: 0.9;
		transform: rotate(360deg);
	}
}

.stamp {
  animation: stamp-rotate ease-in both;
  animation-timeline: view();
  animation-range: entry 25% cover calc(100% - 10vh);
}

@keyframes icon-hover {
  from {
		transform: translateY(0px);
  }
	to {
		transform: translateY(5px);
	}
}

.float_icons:hover {
	animation: icon-hover 0.1s infinite alternate both;
  animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}