---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
import Banner from "../components/Banner.vue";
import About from "../components/About.vue";
import Works from "../components/Works.vue";
---

<Layout title="Bruno Yu">
  <main>
    <Navbar />
    <Banner />
    <About />
    <Works client:only />
    <Footer />
  </main>
</Layout>

<style lang="scss" scoped></style>
