---
import "../styles/global.scss";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content=" Bruno Yu 余俊毅 前端開發人員簡介" />
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="Bruno resume" />
    <meta property="twitter:title" content="Bruno Yu 余俊毅 前端開發人員簡介" />
    <meta property="twitter:description" content="致力於前端開發，並將多元背景帶入技術創新的領域的前端開發者，希望藉由個人的多元背景和熱情將為團隊帶來新的視角和創意為團隊帶來價值 " />
    <meta property="og:title" content="Bruno Yu 余俊毅 前端開發人員簡介" />
    <meta
      property="og:description"
      content="致力於前端開發，並將多元背景帶入技術創新的領域的前端開發者，希望藉由個人的多元背景和熱情將為團隊帶來新的視角和創意為團隊帶來價值 "
    />
    <meta property="og:url" content="https://bruno-yu.github.io/resume_renew/" />
    <meta property="og:image" content="https://i.imgur.com/vnDwIt1.png" />
    <meta property="og:locale" content="zh_TW" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Bruno Yu 余俊毅前端開發人員履歷" />
    <link rel="icon" href="/resume_renew/favicon.ico" type="image/x-icon" />
    <link rel="bookmark" href="/resume_renew/favicon.ico" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,100,1,200"
      rel="stylesheet"
    />
    <script>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark')
      }
  </script>
    <title>{title}</title>
    <meta name="google-site-verification" content="fMBpCp-UTfNM3pRxoDJGq4AvrD2carfnveNISYvGoSk" />
  </head>
  <body>
    <slot />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
